.footer {
    background-color: $nonary-color;
    color: white;
    padding: 20px;
    position: relative;
    bottom: 55px;
    &__white-ohmyfood{
        margin-bottom: 15px;
    }
    &__icon-txt {
        display:flex;
    }
    &__icon-txt__li{
        padding-bottom: 10px;
    }
    .fa-utensils  {
        padding-right: 15px;
    }
    .fa-handshake {
        padding-right: 10px;
    }
}