/* mobile first*/
.footer {
    background-color: $nonary-color;
    color: white;
    padding: 30px;
    &__white-ohmyfood{
        margin-bottom: 20px;
    }
    
    ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .fa-handshake-angle, .fa-utensils  {
        padding-right: 10px;
    }

}


  /*responsive tablet & desktop*/
  @media screen and (min-width: $min-width-tablet) {
    .footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    padding: 75px 60px 25px 15px;
    &__white-ohmyfood {
    margin-bottom: 10px;
    }

    &__icon-text {
        position: relative;
        right: 8%;
    }

    ul {
        display: flex;
        flex-direction: row;
        padding-right: 100px;
    }
}
}