/* mobile first*/
.footer {
    background-color: $nonary-color;
    color: white;
    padding: 30px;
    &__white-ohmyfood{
        margin-bottom: 20px;
    }
    
    ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .fa-handshake-angle, .fa-utensils  {
        padding-right: 10px;
    }

}


  /*responsive tablet & desktop*/
  @media screen and (min-width: 768px) {
    .footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    padding: 75px 60px 25px 15px;
    &__white-ohmyfood {
    margin-bottom: 10px;
    }
    ul {
        padding-right: 50px;
        gap: 5px;
    }
    &__links {
        display: flex;
        flex-direction: row;
        margin-right: 30px;
    }
    &__icon-txt__all {
        margin-right: 30px;
        display: flex;
        flex-direction: row;
        gap: 0px;
    }
    .fa-handshake-angle {
        padding-left: 10px;;
    }
}
}