/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.2 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

H2, h3, h4, p {
  font-family: "Roboto", sans-serif;
  text-decoration-style: unset;
  color: black;
}

a {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

li {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

h1 {
  font-family: "Shrikhand", serif, sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 0px;
}

h2 {
  font-weight: 700;
  font-size: 24px;
}

h3 {
  font-weight: 500;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

h4 {
  font-weight: 300;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

p {
  font-weight: 300;
  font-size: 17px;
}

/* mobile first*/
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header__top__1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
@media (min-width: 768px) {
  .header__top__1 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.header__top__2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 5px;
}
@media (min-width: 768px) {
  .header__top__2 {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    padding-bottom: 15px;
  }
}
.header__logo {
  width: 162px;
  height: 44px;
}
@media (min-width: 768px) {
  .header__logo {
    width: 200px;
    height: 34px;
  }
}
.header__picture {
  width: 100%;
  height: 280px;
  display: flex;
  justify-content: center;
  position: static;
}
@media (min-width: 768px) {
  .header__picture {
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.header a {
  color: black;
  position: relative;
  top: 15px;
  right: 80px;
}
@media (min-width: 768px) {
  .header a {
    -o-object-fit: cover;
       object-fit: cover;
    top: 25px;
    left: 30px;
  }
}
.header .header__restaurants__icon {
  display: flex;
  align-items: center;
  width: 20px;
}
@media (min-width: 768px) {
  .header .header__logo__container {
    display: flex;
    justify-content: center;
  }
}
.header .searchbar {
  border-top: solid 3px rgb(209, 207, 207);
  background-color: #EAEAEA;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
@media (min-width: 768px) {
  .header .searchbar {
    border-top: 0px;
  }
}
.header .searchbar__text__city {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
@media (min-width: 768px) {
  .header .searchbar__text__city {
    padding-left: 0px;
  }
}

/* mobile first*/
.footer {
  background-color: #353535;
  color: white;
  padding: 30px;
}
.footer__white-ohmyfood {
  margin-bottom: 20px;
}
.footer ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer .fa-handshake-angle, .footer .fa-utensils {
  padding-right: 10px;
}

/*responsive tablet & desktop*/
@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    padding: 75px 60px 25px 15px;
  }
  .footer__white-ohmyfood {
    margin-bottom: 10px;
  }
  .footer__icon-text {
    position: relative;
    right: 8%;
  }
  .footer ul {
    display: flex;
    flex-direction: row;
    padding-right: 100px;
  }
}
/* mobile first*/
/* description-section*/
.description {
  background: #F6F6F6;
  display: flex;
  flex-direction: column;
  padding: 40px 2px 30px 2px;
}
@media (min-width: 768px) {
  .description {
    padding: 40px 25px 10px 25px;
  }
}
.description__title {
  font-weight: 700;
  font-size: 24px;
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
  padding: 0px 40px 0px 40px;
}
@media (min-width: 768px) {
  .description__title {
    font-size: 40px;
    margin-bottom: 30px;
  }
}
.description .decouvrez-text {
  white-space: pre-wrap;
}
.description__subtitle {
  font-weight: 300;
  font-size: 18px;
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  margin-bottom: 30px;
}
.description .explore__button__container {
  display: flex;
  justify-content: center;
}
.description .explore__button {
  color: white;
  font-family: "roboto";
  padding: 18px 20px 18px 20px;
  font-size: 14px;
  border-radius: 25px;
  margin-bottom: 20px;
}
.description .explore__button--LinearGradientBackground {
  background: linear-gradient(to top, #9356DC, #FF79DA);
  box-shadow: 0px 5px 10px rgb(184, 183, 183);
}

/* fonctionnement-section*/
.function {
  padding: 60px 25px 40px 25px;
  gap: 35px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .function {
    padding: 0 5% 5% 5%;
  }
}
@media (min-width: 1024px) {
  .function {
    padding: 60px 12% 40px 12%;
  }
}
@media (min-width: 768px) {
  .function .category-title {
    padding: 60px 20px 5px 20px;
  }
}
@media (min-width: 1024px) {
  .function .category-title {
    padding: 0px 0px 0px 0px;
  }
}
@media (min-width: 768px) {
  .function .allcards {
    display: flex;
    flex-direction: column;
    gap: 5%;
    justify-content: center;
  }
}
@media (min-width: 1024px) {
  .function .allcards {
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: center;
  }
}
.function .allcards__a {
  width: 100%;
}
.function .function__card {
  background-color: #F6F6F6;
  border-radius: 20px;
  padding: 20px 0px 20px 15px;
  display: flex;
  margin-bottom: 20px;
  box-shadow: 0px 3px 10px rgb(221, 218, 218);
}
@media (min-width: 768px) {
  .function .function__card {
    padding: 25px 80px 25px 15px;
  }
}
@media (min-width: 1024px) {
  .function .function__card {
    padding: 25px 0px 25px 15px;
  }
}
.function .function__card__step {
  position: relative;
  right: 25px;
  background: #9356DC;
  border-radius: 45px;
  padding: 6px 8px 6px 8px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}
.function .function__card__text {
  display: flex;
  gap: 20px;
  align-items: center;
}
.function .fa-mobile-screen-button, .function .fa-list {
  color: #7E7E7E;
  position: relative;
  bottom: 5px;
}
.function .fa-store {
  color: #9356DC;
  position: relative;
  bottom: 5px;
}
@media (min-width: 768px) {
  .function .fa-mobile-screen-button, .function .fa-list, .function .fa-store {
    position: static;
  }
}
@media (min-width: 768px) {
  .function h3 {
    font-size: 16px;
  }
}

/* restaurants-section*/
.restaurant {
  background-color: #F6F6F6;
  padding: 35px 20px 70px 20px;
}
@media (min-width: 768px) {
  .restaurant {
    padding-left: 5%;
    padding-right: 2%;
    padding-bottom: 40px;
  }
}
@media (min-width: 1024px) {
  .restaurant {
    padding-left: 12%;
    padding-right: 8%;
    padding-bottom: 40px;
  }
}
@media (min-width: 768px) {
  .restaurant .restaurant__allcards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
  }
}
.restaurant .restaurant__a {
  width: 45%;
  padding-top: 19px;
  position: relative;
}
.restaurant .restaurant__card {
  background-color: white;
  border-radius: 15px;
  border-radius: 15px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
}
.restaurant .restaurant__card__image {
  height: 200px;
  border-radius: 15px 15px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) {
  .restaurant .restaurant__card__image {
    width: 100%;
    height: 170px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.restaurant .restaurant__card__title {
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: space-between;
}
.restaurant .restaurant__card__text {
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.restaurant .restaurant__card__name {
  font-size: 18px;
  font-weight: 800;
}
.restaurant .restaurant__card__nouveau {
  font-weight: 500;
  font-size: 14px;
  border: #99E2D0;
  background-color: #99E2D0;
  padding: 8px 10px 8px 10px;
  position: absolute;
  left: 73%;
  top: 5%;
  color: #008766;
  width: 55px;
}
@media (min-width: 1024px) {
  .restaurant .restaurant__card__nouveau {
    position: absolute;
    left: 81%;
    top: 5%;
  }
}

/* mobile first*/
.menu {
  background-color: #F6F6F6;
  padding: 20px 15px 40px 15px;
  border-radius: 35px 35px 0px 0px;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 35px;
  margin-top: -55px;
}
@media (min-width: 768px) {
  .menu {
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 15%;
    padding-right: 15%;
  }
}
.menu__restaurant-top {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .menu__restaurant-top {
    justify-content: center;
    gap: 40px;
  }
}
.menu__restaurant-top__title {
  font-family: "Shrikhand", serif;
  font-size: 28px;
}
.menu__course__title {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  width: 12%;
  padding-bottom: 5px;
  border-bottom: solid 3px #99E2D0;
}
@media (min-width: 768px) {
  .menu__course__title {
    width: 4%;
  }
}
.menu__course__card {
  display: flex;
  background-color: #FFFFFF;
  margin-top: 10px;
  border-radius: 15px;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 0px 3px 10px rgb(221, 218, 218);
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .course__text {
  display: flex;
  flex-direction: column;
  flex: 2;
  gap: 5px;
  padding: 15px 0 15px 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .price {
  display: flex;
  align-items: flex-end;
  padding: 15px 0 15px 0;
  padding-right: 15px;
}
.menu .price-euro {
  font-weight: 700;
  font-size: 15px;
}
.menu .order-button__container {
  display: flex;
  justify-content: center;
}
.menu .order-button {
  color: white;
  font-family: "roboto";
  font-size: 16px;
  padding: 18px 55px 18px 55px;
  border-radius: 25px;
  transition: opacity 300ms, box-shadow 500ms;
}
.menu .order-button--LinearGradientBackground {
  background: linear-gradient(to top, #9356DC, #FF79DA);
  box-shadow: 0px 5px 10px rgb(184, 183, 183);
}
.menu .order-button--LinearGradientBackground:hover {
  opacity: 0.8;
  box-shadow: 0px 0px 15px rgb(165, 164, 164);
}

.explore__button {
  transition: opacity 300ms, box-shadow 500ms;
}
.explore__button--LinearGradientBackground:hover {
  opacity: 0.9;
  box-shadow: 0px 0px 15px rgb(165, 164, 164);
}

.section__entries1 {
  animation: fadeInVisibility 0.5s ease-in-out forwards;
}

.section__entries2 {
  animation: fadeInVisibility 1s ease-in-out forwards;
}

.section__entries3 {
  animation: fadeInVisibility 1.5s ease-in-out forwards;
}

.section__entries4 {
  animation: fadeInVisibility 2s ease-in-out forwards;
}

.section__main-course1 {
  animation: fadeInVisibility 2s ease-in-out forwards;
}

.section__main-course2 {
  animation: fadeInVisibility 2.5s ease-in-out forwards;
}

.section__main-course3 {
  animation: fadeInVisibility 3s ease-in-out forwards;
}

.section__dessert1 {
  animation: fadeInVisibility 3.5s ease-in-out forwards;
}

.section__dessert2 {
  animation: fadeInVisibility 4s ease-in-out forwards;
}

.section__dessert3 {
  animation: fadeInVisibility 4.5s ease-in-out forwards;
}

@keyframes fadeInVisibility {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  50% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.menu__cart {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  width: 5em;
  margin-right: -5em;
  transition: 700ms ease;
}
.menu__cart__icon {
  color: white;
  font-size: 25px;
}

.menu__course__card:hover .menu__cart {
  margin-right: 0em;
}

.heart-icon--empty {
  position: absolute;
  color: black;
  font-size: 30px;
}

.heart-icon--full {
  position: relative;
  font-size: 30px;
  transform-origin: bottom;
  transform: scale(0);
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.like {
  display: flex;
  align-items: flex-end;
  position: relative;
  right: 7%;
}
@media (max-width: 767.9px) {
  .like {
    display: flex;
    flex-direction: column;
    bottom: 60px;
  }
}
@media (min-width: 768px) {
  .like {
    display: flex;
    flex-direction: column;
    top: 230px;
  }
}
.like__checkbox {
  display: none;
}
.like__checkbox:checked + .like__container .heart-icon--full {
  animation: like 0.2s cubic-bezier(0.87, 0.01, 0.38, 1.01) forwards;
}
.like__checkbox:not(:checked) + .like__container .heart-icon--full {
  animation: unlike 0.5s ease forwards;
}

@keyframes like {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes unlike {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}
.loader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: auto;
}
.loader__spinner {
  border: 10px solid #FF79DA;
  border-top: 10px solid #9356DC;
  border-bottom: 10px solid #99E2D0;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 3s linear infinite, fadeOutLoader 0.2s 1.9s forwards;
}

.loader-enabled {
  opacity: 0;
  animation: fadeInContent 3s forwards 2s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeInContent {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOutLoader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
body {
  width: 100%;
  scroll-behavior: smooth;
}
@media (min-width: 1440.1px) {
  body {
    margin-right: 10%;
    margin-left: 10%;
    width: auto;
  }
}/*# sourceMappingURL=main.css.map */