@import "SASS/utils/variables";
@import "SASS/utils/mixin";
@import "SASS/base/reset";
@import "SASS/base/fonts";
@import "SASS/layout/header";
@import "SASS/layout/footer";
@import "SASS/pages/homepage";
@import "SASS/pages/restaurants";
@import "SASS/components/buttons";
@import "SASS/components/card-scroll";
@import "SASS/components/card-checked";
@import "SASS/components/heart";
@import "SASS/components/loader";


body {
    width: 100%;
    scroll-behavior: smooth; 
    @media (min-width:$min-width-largedesktop) {
        margin-right: 10%;
        margin-left: 10%;
        width: auto;
      }
}   
