.explore__button {
    transition: opacity 300ms, box-shadow 500ms;

    &--LinearGradientBackground {

      &:hover {
        opacity: 0.9;
        box-shadow: 0px 0px 15px rgb(165, 164, 164); 
      }
    }
  }