  .menu__cart {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $tertiary-color;
    border-radius: 0 15px 15px 0;
    width: 5em;
    margin-right: -5em;
    transition: 700ms ease;
        
      &__icon {
        color: white;
        font-size:25px;
      }
    }

    .menu__course__card:hover .menu__cart {
      margin-right: 0em;
    }


