.section__entries1 {
    animation: fadeInVisibility 0.5s ease-in-out forwards; 
}
.section__entries2 {
    animation: fadeInVisibility 1s ease-in-out forwards; 
}
.section__entries3 {
    animation: fadeInVisibility 1.5s ease-in-out forwards; 

}


.section__main-course1 {
    animation: fadeInVisibility 2.5s ease-in-out forwards; 

}
.section__main-course2 {
    animation: fadeInVisibility 3s ease-in-out forwards; 

}
.section__main-course3 {
    animation: fadeInVisibility 3.5s ease-in-out forwards; 
}


.section__dessert1 {
    animation: fadeInVisibility 4s ease-in-out forwards; 
}
.section__dessert2 {
    animation: fadeInVisibility 4.5s ease-in-out forwards; 
}
.section__dessert3 {
    animation: fadeInVisibility 5s ease-in-out forwards; 
}
    
@keyframes fadeInVisibility {
    0% {
      opacity: 0; 
      visibility: hidden; 
    }
    50% {
        opacity: 0; 
        visibility: hidden; 
      }
    100% {
      opacity: 1; 
      visibility: visible; 
    }
  }
  
  
  
    
    
    