.loader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: auto;

 &__spinner {
    border: 10px solid #FF79DA;
    border-top: 10px solid #9356DC;
    border-bottom: 10px solid #99E2D0;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 3s linear infinite, fadeOutLoader .2s 1.9s forwards;
}
}

.loader-enabled {
opacity: 0;
animation: fadeInContent 3s forwards 2s;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes fadeInContent {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOutLoader {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
  



  
  