.description__section {
    background:$octonary-color;
    display: flex;
    flex-direction: column;
    padding: 40px 25px 50px 25px;
}
.reservez-text {
    font-weight: 700;
    font-size: 24px;
    display: flex;
    text-align: center;
    font-family: $font_family_1;
    margin-bottom: 20px;
    padding: 0px 20px 0px 20px;
}

.decouvrez-text {
    font-weight: 300;
    font-size: 18px;
    display: flex;
    text-align: center;
    font-family: $font_family_1;
    margin-bottom: 30px;
}

.explore__button__container {
    display: flex;
    justify-content: center;
}
.explore__button {
    color: white;
    font-family: "roboto";
    font-size: 16px;
    padding: 1em 3em 1em 3em;
    border-radius: 25px;
    margin-bottom: 20px;
    transition: opacity 300ms, box-shadow 500ms;

    &--LinearGradientBackground {
      background: $cd-btn;
      box-shadow: 0px 5px 10px rgb(184, 183, 183); 
      &:hover {
        opacity: 0.9;
        box-shadow: 0px 0px 15px rgb(165, 164, 164); 
      }
    }
  }

  .function_container {
    padding: 60px 25px 40px 25px;
    gap: 35px;
    display: flex;
    flex-direction: column;
  }

.function__card {
    background-color: $octonary-color;
    border-radius: 20px;
    padding: 30px 15px 20px 15px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    box-shadow: 0px 2px 10px rgb(206, 205, 205);
    &__step{
        @include number-function;
    }
    &__text {
        display: flex;
        gap: 20px;
        align-items: center;
    }
}

.fa-mobile-screen-button {
    color: #7E7E7E;
    display: flex;
    align-items: center;
    line-height: 0;
}

.fa-list  {
    color: #7E7E7E;
    display: flex;
    align-items: center;
}

.fa-store {
    color: $main-color;
}

.restaurant__container {
    background-color: $octonary-color;
    padding: 45px 20px 100px 20px;
}

.restaurant__card {
    background-color: white;
    border-radius: 15px;
    border-radius: 15px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    &__image {
        height: 200px;
        border-radius: 15px 15px 0px 0px;
    }
    &___text {
        display: flex;
    }
}