.description__section {
    background:$octonary-color;
    display: flex;
    flex-direction: column;
    padding: 30px;
    .explore__button {
        display: flex;
        justify-content: center;
        &__text{
            color: white;
            text-decoration: none;
            font-family: "roboto";
            font-size: 16px;
            font-weight: 500;
            padding: 1em 3em 1em 3em;
            border-radius: 25px;
            margin-bottom: 40px; 
        }
        &--LinearGradientBackground {
            background: linear-gradient(to top, $main-color, $secondary-color);
            box-shadow: 0px 5px 5px grey; 
        }
    }
}