// COLOR

$main-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$quaternary-color: #F6F6F6;
$quinary-color: #003A68;
$senary-color: #EAEAEA;
$septenary-color: #008766;
$octonary-color:#F6F6F6;
$nonary-color:#353535;
$denary-color: #7E7E7E;
$eleventh-color: black;
$twelfth-color: #008766;

// linearGradient
$cd-btn: linear-gradient(to top, $main-color, $secondary-color);


// FONTS
$font_family_1         : "Roboto", sans-serif;
$font_family_2         : "Shrikhand", serif;

// MEDIA QUERIES
$max-width-mobile       : 767.9px;

$min-width-tablet       : 768px;
$max-width-tablet       : 1023px;

$min-width-desktop      : 1024px;
$max-width-desktop      : 1440px;

$min-width-largedesktop : 1440.1px;


