// COLOR

$main-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$quaternary-color: #F6F6F6;
$quinary-color: #003A68;
$senary-color: #EAEAEA;
$septenary-color: #008766;
$octonary-color:#F6F6F6;
$nonary-color:#353535;
$denary-color: #7E7E7E;
$eleventh-color: black;



// FONTS
$font_family_shrikhand         : 'Shrikhand', serif;
$font_family_roboto            : 'Roboto', sans-serif;

