// COLOR

$main-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$quaternary-color: #F6F6F6;
$quinary-color: #003A68;
$senary-color: #EAEAEA;
$septenary-color: #008766;
$octonary-color:#F6F6F6;
$nonary-color:#353535;
$denary-color: #7E7E7E;


// FONTS
$font_family_shrikhand         : 'Shrikhand', serif;
$font_family_roboto            : 'Roboto', sans-serif;

// Font Sizes
$font-size-desktop-header      : 40px;
$font-size-header              : 24px;
$font-size-seconary-header     : 18px;
$font-size-third-header        : 17px;
$font-size-text                : 16px;
$font-size-small-header        : 14px;

// Font Weights

$font-weight-bolder  : 700;
$font-weight-bold    : 500;
$font-weight-lighter : 400;
$font-weight-light   : 300;


// Sizes 

$desktop-min         : 1025px;
$tablet-min          : 481px;
$mobile-min          : 320px;
$max-width           : 1440px;
$min-width           : 320px;